<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />

<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{userListTitle.message}">Usuarios</h2>

		<form class="navbar-form" th:action="${'/user/list'}" method="post">
			<div class="form-group">
				<input name="searchText" type="text" class="form-control" size="50" placeholder="Buscar por nombre o email del usuario">
			</div>
			<button type="submit" class="btn btn-default">Buscar</button>
		</form>

		<p th:text="#{userListDescription.message}">Los usuarios que actualmente estan registrados en la RedSocial son:</p>

		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th th:text="#{userDetailsName.message}">Nombre:</th>
						<th th:text="#{userDetailsEmail.message}">Email:</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${usersList}">
						<td th:text="${user.name}">Nombre del usuario</td>
						<td th:text="${user.email}">Email del usuario</td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination"/>
	</div>
	<footer th:replace="fragments/footer" />
</body>

</html>
